*{
    margin: 0;
    padding: 0;
}
.box{
    display: inline-block;
    width: 40%;
    margin: 5% 5%;
    vertical-align: top;
    height: 100%;
}
img{
    width: 300px;

}
.searchyozuvchi{
    font-family: cursive;
    font-size: 20px;
}
/* .search-book{
    display: flex;
    justify-content: center;
} */


@media only screen and (max-width: 600px) {
    .container-box{
        display: grid;
        grid-template-columns: auto;
        border:2px solid red;
        text-align: center;
    }
    /* .container-box .img{
        width: 200px;
        margin-left: 37%!important;
    } */
    .card-box{
        width: 400px;
    }
    .container-box .box{
        width: 95%;
    }
  }